<%= Entry.disqus_forum_key %>
<% for entry in @entries %>
  <div class="entry_box">
    <h2><%=h entry.name %></h2>
    <div class="face">
      <%= link_to image_tag( entry.small_face_file ), entry if entry.small_face_file %>
    </div>
    <div class="content">
      <%=h entry.content %>
      <div class="info">
        -
        <% unless entry.enterer_url.blank? %>
          <%= link_to entry.enterer, entry.enterer_url %>
        <% else %>
          <%=h entry.enterer %>
        <% end %>
        on <%= entry.updated_at.strftime("%m/%d/%Y") %>
      </div>
    </div>
  </div>
<% end %>
<div class='entry_box'>
  <h1><%= link_to 'ADD A NEW ENTRY', new_entry_path %></h1>
</div>
