<p>
  <b>Name:</b>
  <%=h @entry.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @entry.position %>
</p>

<p>
  <b>Content:</b>
  <%=h @entry.content %>
</p>

<p>
  <b>Enterer:</b>
  <%=h @entry.enterer %>
</p>

<p>
  <b>Enterer url:</b>
  <%=h @entry.enterer_url %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
